footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-extralightgray;
    padding: 25px;

    .socialmedia {
        a {

            &:hover {

            }
        }
    }
}