.bg-theme {
    background-color: $color-theme;
}

.bg-dark {
    background-color: $color-dark !important;
}

.bg-gradient-gray {
    background: $color-linear-gradient-dark;
    background: linear-gradient(90deg, $color-linear-gradient-dark 0%, $color-linear-gradient-light 100%); 
}